* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Hanken Grotesk';
}

:root {
    --hover-color: #7c877f;
    --transition-main: all 0.3s linear;
}

a {
    text-decoration: none;
}

/* Header */
header {
    position: relative;
    z-index: 100;
}
.main-header {
    border-bottom: 1px solid #ffffff1a;
    padding: 30px 0;
    position: relative;
    top: 0;
    z-index: 100;
}

.get-btn {
    padding: 15px 22px 15px 22px;
    border-radius: 0px;
    font-weight: 700;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
}
.get-btn.green {
    color: #303032b9 !important;
    background-color: white !important;
}
.get-btn i {
    display: inline-block;
    transition: var(--transition-main);
}
.get-btn:hover i {
    transform: translateX(3px);
}

.get-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    height: 106%;
    background: #192324;
    transform: skew(45deg);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    width: 0;
    left: -15%;
}

.get-btn.green::after {
    content: '';
    position: absolute;
    height: 106%;
    background: #7C877F;
}
.get-btn:hover:after {
    width: 105%;
    transform: skew(0deg);
    left: 0px;
}

.menus li a {
    color: white;
    transition: var(--transition-main);
    font-size: 18px;
}
.menus li a:hover {
    color: var(--hover-color);
}

.sub-menu{
    width: 200px;
    background-color: #68716C;
    top: 100%;
    left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.sub-menu li a {
    display: inline-block;
    transition: var(--transition-main);
}
.sub-menu li a:hover {
    color: black !important;
    transform: translateX(6px);
}
.menus li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transform: translateY(5px);
}

.offcanvas.offcanvas-top {
    top: 90px;
    height: 320px;
}
.offcanvas {
    background-color: #7C877F;
}
.title {
    margin-bottom: 10px;
}
.dsc {
    display: none;
}
.rotate {
    transition: var(--transition-main);
    transform: rotate(180deg);
    color: black !important;
}

/* main-sec */
.main-sec {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -0.696903px;
    min-height: 100vh;
    margin-top: -121px;
    padding: 270px 0 230px;
}
.main-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(25, 35, 36, 0) 0%, rgba(25, 35, 36, 0.4) 80.94%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.main-heading h6 {
    font-size: 20px;
}
.main-heading h1 {
    font-size: 80px;
    font-weight: 600;
}
.main-heading p {
    font-size: 22px;
    max-width: 600px;
}

/* About us */
.about-us {
    padding: 100px 0;
    background-image: url(../images/about-us-bg.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.about-us-images {
    background-image: url(../images/about-us-bg-shape.svg);
    background-repeat: no-repeat;
    background-position: left 60px bottom 40px;
    background-size: auto;
    padding-right: 100px;
    padding-bottom: 180px;
    margin-right: 30px;
}
.about-img-1 img, .about-img-2 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.76;
    height: 100%;
}

.about-img-2 {
    bottom: 0;
    right: 0;
    max-width: 385px;
}
.feedback-counter {
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
}
.feedback-counter p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c877f;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.experience-counter {
    top: 0;
    left: 0;
    height: 152px;
    width: 152px;
    background-color: #7C877F;
    border: 6px solid white;
    transform: translate(-50%, -6px);
    border-radius: 50%;
}

.about-title h2 {
    font-size: 42px;
    font-weight: 600;
}

.about-menu span {
    font-size: 14px;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    background-color: #7C877F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-menu p {
    font-size: 17px;
}
.call-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7C877F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.call-text p {
    font-size: 16px;
    text-transform: capitalize;
}
.call-text h6 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
.about-girl img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.mtop-5 {
    margin-top: 20px;
}

.mtop-20 {
    margin: 0;
}

.about-title p {
    font-size: 18px;
    text-transform: capitalize;
}

/* services */
.services {
    padding: 100px 0;
    background-color: #F8F8F8;
}

.ms-120 {
    margin-left: 120px;
}

.fs-42 {
    font-size: 44px !important;
}

.service-item {
    height: calc(100% - 30px);
}

.service-image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.36;
    transition: var(--transition-main);
}
.service-image {
    overflow: hidden;
}

.service-item:hover .service-image img {
    transform: scale(1.1);
}

.service-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 105%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: var(--transition-main);
}

.service-content {
    bottom: 60px;
    left: 40px;
    right: 40px;
    z-index: 1;
}

.service-btn {
    top: 40px;
    right: 40px;
    z-index: 1;
}
.s-btn {
    background-color: #7c877f;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
.s-btn img {
    max-width: 20px;
    transform: rotate(-45deg);
    transition: var(--transition-main);
}
.s-btn:hover {
    background-color: #192324;
}
.s-btn:hover img {
    transform: rotate(0deg);
}

/* filter-gellary */
.filter-gellary {
    padding: 100px 0;
}

.item img{
    width: 100%;
    height: auto;
}

.menu-list {
    cursor: pointer;
}

/* work */
.work {
    padding: 100px 0;
    background-color: #192324;
}

/* testimonial */
.testimonial {
    background-color: #f8f8f8;
}
.testimonial-img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 0.82;
    object-fit: cover;
}
.testimonial-img img {
    max-width: 100%;
    height: 100%;
}
.our-testimonial-content {
    padding: 80px 80px;
}

.swiper {
    width: 100%;
    height: 100%;
  }


  .fs-20 {
    font-size: 20px;
  }

 .slider-img img {
    border-radius: 50%;
 }

 .slider-part {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eaf0ec;
 }

 .testi-star {
    display: inline-block;
    background: #7C877F;
    padding: 0px 5px 3px 5px;
    line-height: 1em;
 }
 .testi-star i {
    font-size: 10px;
    font-weight: 900;
    color: white;
 }
 .testi-counter h2 {
    font-size: 58px;
    font-weight: 600;
 }